.container {
    display: flex;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--Neutral-300);
    border-radius: 8px;
    padding: 16px;
    width: 300px;
    height: 150px;
    text-align: center;
    margin-bottom: 10px;

}
.card-img {
    display: flex;
    margin-bottom: 40px;
}
.card-img-imagem img {
    width: 100%;
}
.card-img-dev {
    text-align: start;
    padding: 0px 10px 10px 10px;
}
.card-img-dev {
    font-size: 12px;
}
#chk {
    display: none;
}
.chk {
    display: none;
}
.switch {
    position: relative;
    background: var(--Neutral-300);
    width: 24px;
    height: 12px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    padding: 5px;
    transition: all .5s ease-in-out;
    cursor: pointer;
}
.slider {
    position: absolute;
    background: var(--Neutral-0);
    border-radius: 50%;
    width: 8px;
    height: 8px;
    transition: all .5s ease-in-out;
}
#chk:checked ~ .switch {
    background-color: var(--Red-700);
}
#chk:checked ~ .switch .slider{
    transform: translateX(6px);
}

.card-button {
    display: flex;
    justify-content: space-between;
}
.card-button-button button{
    display: flex;
    padding: 5px;
    border-radius: 8px;
    background: transparent;
    border: 1px solid var(--Neutral-300) ;
}
.card-button-button h2{
    margin: 0;
    font-size: 8px;
    color: var(--Neutral-900);
    font-weight: normal;
}