.base-img {
    display: flex;
    justify-content: space-between;
    background: var(--Neutral-0);
    align-items: center;
    padding: 8px;
    margin: 20px 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px var(--Neutral-200) ;

}
.base-img-troca {
    background: var(--Neutral-200);
    border-radius: 8px;
    padding: 6px;
}
.base-img-troca button {
    border: none;
    background: transparent;
}
[data-fetch].active {
    background: var(--Neutral-900);
}
.base-img-troca:hover {
    background: var(--Neutral-0);
    border: 1px solid var(--Neutral-200);
}