* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
--background-fundo: hsl(225, 42%, 93%);
--Neutral-900: hsl(227, 75%, 14%);
--Neutral-800: hsl(226, 25%, 17%);
--Neutral-700: hsl(225, 23%, 24%);
--Neutral-600: hsl(226, 11%, 37%);
--Neutral-300: hsl(0, 0%, 78%);
--Neutral-200: hsl(217, 61%, 90%);
--Neutral-100: hsl(0, 0%, 93%);
--Neutral-0: hsl(200, 60%, 99%);
--Red-400: hsl(3, 86%, 64%);
--Red-500: hsl(3, 71%, 56%);
--Red-700: hsl(3, 77%, 44%);
--Light-Gradient: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%)
--Dark-Gradient: linear-gradient(180deg, #040918 0%, #091540 100%)
}

body {
    display: flex;
}
.base {
    background-color: var(--background-fundo);
}
.base-img {
    display: flex;
    justify-content: space-between;
    background: var(--Neutral-0);
    align-items: center;
    padding: 8px;
    margin: 20px 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px var(--Neutral-200) ;

}
.base-img-troca {
    background: var(--Neutral-200);
    border-radius: 8px;
    padding: 6px;
}
h1.title {
    display: flex;
    font-family: "Noto Sans";
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.choice {
    display: flex;
    justify-content: center;
    gap: 12px;
}
.active {
    background: var(--Red-700);
    border-radius: 20px;
    font-family: "Noto sans";
    text-transform: capitalize;
    padding: 10px 20px;
    color: var(--Neutral-0);
    border: none;
    border: 1px solid var(--Neutral-300);
}
.choice-button {
    background: var(--Neutral-0);
    font-family: "Noto sans";
    border-radius: 20px;
    text-transform: capitalize;
    padding: 10px 20px;
    color: var(--Neutral-900);
    border: none;
    border: 1px solid var(--Neutral-300);

}
.container {
    display: flex;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--Neutral-300);
    border-radius: 8px;
    padding: 16px;
    width: 300px;
    height: 150px;
    text-align: center;
    margin-bottom: 10px;

}
.card-img {
    display: flex;
    margin-bottom: 40px;
}
.card-img-imagem img {
    width: 100%;
}
.card-img-dev {
    text-align: start;
    padding: 0px 10px 10px 10px;
}
.card-img-dev {
    font-size: 12px;
}
#chk {
    display: none;
}
.chk {
    display: none;
}
.switch {
    position: relative;
    background: var(--Neutral-300);
    width: 24px;
    height: 12px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    padding: 5px;
    transition: all .5s ease-in-out;
    cursor: pointer;
}
.slider {
    position: absolute;
    background: var(--Neutral-0);
    border-radius: 50%;
    width: 8px;
    height: 8px;
    transition: all .5s ease-in-out;
}
#chk:checked ~ .switch {
    background-color: var(--Red-700);
}
#chk:checked ~ .switch .slider{
    transform: translateX(6px);
}

.card-button {
    display: flex;
    justify-content: space-between;
}
.card-button-button button{
    display: flex;
    padding: 5px;
    border-radius: 8px;
    background: transparent;
    border: 1px solid var(--Neutral-300) ;
}
.card-button-button h2{
    margin: 0;
    font-size: 8px;
    color: var(--Neutral-900);
    font-weight: normal;
}