* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
--Neutral-900: hsl(227, 75%, 14%);
--Neutral-800: hsl(226, 25%, 17%);
--Neutral-700: hsl(225, 23%, 24%);
--Neutral-600: hsl(226, 11%, 37%);
--Neutral-300: hsl(0, 0%, 78%);
--Neutral-200: hsl(217, 61%, 90%);
--Neutral-100: hsl(0, 0%, 93%);
--Neutral-0: hsl(200, 60%, 99%);
--Red-400: hsl(3, 86%, 64%);
--Red-500: hsl(3, 71%, 56%);
--Red-700: hsl(3, 77%, 44%);
--Light-Gradient: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%)
--Dark-Gradient: linear-gradient(180deg, #040918 0%, #091540 100%)
}
.container {
    display: flex;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--Neutral-300);
    border-radius: 8px;
    padding: 16px;
    width: 300px;
    height: 150px;
    text-align: center;
}
.card-img {
    display: flex;
}
.card-img-imagem img {
    width: 60%;
}
.card-img-imagem h3 {
    margin-top: 8px;
}
#chk {
    display: none;
}
.cnk {
    display: none;
}
.switch {
    position: relative;
    background: var(--Neutral-300);
    width: 19px;
    height: 6px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    padding: 5px;
    transition: all .5s ease-in-out;
    cursor: pointer;
}
.slider {
    position: absolute;
    background: var(--Neutral-0);
    border-radius: 30%;
    width: 5px;
    height: 5px;
    transition: all .5s ease-in-out;
}
#chk:checked ~ .switch {
    background-color: var(--Red-700);
}
input:checked[type="checkbox"].switch {
    background-color: red;
}
#chk:checked ~ .switch .slider{
    transform: translateX(6px);
}

.card-button {
    display: flex;
    justify-content: space-between;
}
.card-button-button button{
    display: flex;
    padding: 5px;
    border-radius: 8px;
    background: transparent;
    border: 1px solid var(--Neutral-300) ;
}
.card-button-button h2{
    margin: 0;
    font-size: 8px;
    font-weight: normal;
}